body{
    background-color: aliceblue;

}

main{
    width: 200vh;
    display: flex;
}

nav{
    background-color: skyblue;
    width: 200vh;
    padding: 1vh;
    margin: 1vh;
}

a{
    color: aliceblue;
}

.div1{
    background: transparent;
    border: 1px solid skyblue;
    padding: 20px;
    width: 60vh;
    margin:  auto;
    border-radius: 15px;
}

input{
    margin-left: 100vh;
    border: 1px solid skyblue;
    width: 25vh;
    border-radius: 8px;
    color: blue;
    text-align: center;
    margin: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

button{
    background-color: aliceblue;
    color: skyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    border-radius: 15px;
    border: 1px solid skyblue;
}

button:hover{
    background-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid blue;
    color: blue;
}

.responsive{
  
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        150px,
        1fr
      )
    );
    gap: 16px;
     justify-content: center;
      align-items: center;
      display: flex;
      height: 20vh;
      width: 60vh;
    
  }
