body{
    background-image: url(../resource/fondo.png);
    background-size: cover;
}

.b{
    background: rgb(12,0,36);
    background: linear-gradient(90deg, rgba(12,0,36,1) 0%, rgba(99,9,121,1) 42%, rgba(209,0,255,1) 82%);    background-position: center;
    
}

main{
    background: fafafafa10;
    backdrop-filter: blur(0.8rem);
    border: 1px solid floralwhite;
    background-position: center;
    padding: 20px;
    width: 60vh;
    margin: 20vh auto;
    border-radius: 15px;
}

h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 30pt;
    color: blueviolet;
}
  
h2{
    position: relative;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
}

button{
    background: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid white;
    width: 8vh;
    color: white;
    margin: 3vh;
    padding: 8px;
    border-radius: 8px;
    border-color: white;
}

button:hover{
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid blueviolet;
    color: blueviolet;
    margin: 3vh;
    padding: 8px;
    border-radius: 8px;
    border-color: blueviolet;
}

a{
    color: aliceblue;
}

input{
    background-color: transparent;
    border: 1px solid blueviolet;
    color: white;
    border-radius: 20px;
    width: 30vh;
    text-align: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}